
.contactUsContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    color: #333;
  }
  
  .fullWidthHeading {
    width: 100%;
    text-align: left;
    margin-bottom: 24px;
    color: #2d2d2d;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    font-family: "Poppins", sans-serif;
  }
  
  .contactContent {
    display: flex;
  }
  
  .contactLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 40%;
  }
  
  .contactSection {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "Poppins", sans-serif;
  }
  
  .highlightLink {
    font-size: 22px;
    color: #8b080c !important;
    font-weight: 650 !important;
  }
  
  .highlightPhone {
    font-size: 22px;
    color: #8b080c !important;
    font-weight: 650 !important;
  }
  
  .sectionTitle {
    font-weight: 700;
    font-size: 22px;
    font-family: Poppins, sans-serif;
    display: flex;
  }

.header2{
  color: #606060;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

  .details{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: #606060;
    padding-right: 5px;
  }
  
  /* Divider line between sections */
  .divider {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
  }
  
  .mapLink {
    color: #8b080c ;
    text-decoration: underline;
    font-size: 15px !important;
    font-family: "Poppins", sans-serif;
    font-weight: 400 !important;
  }
  
  .contactRight {
    flex: 1;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .mapImg {
    margin-top: 10%;
    max-height: 460px;
    max-width: 760px;
  }
  
  
  .mapFooterText {
    font-style: italic;
    font-size: 14px;
    color: #606060;
    text-align: center; 
  }
  
  
  .mumbaiHighlight {
    color: #b30000;
    font-style: italic;
    font-weight: 500;
  }
  