.missionVisionContainer {
    padding: 30px 40px;
    font-family: Poppins, sans-serif;
  }
  
  .title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 72px;
    line-height: 67px;
    color: black;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: center;
  }
  
  .andWord {
    margin: 0 10px;
  }

  .highlight {
    font-weight: 700;
    font-size: 72px;
    line-height: 67px;
    color: rgb(255, 84, 0);
  }
  
  .mvCard {
    width: 500px;
    max-width: 100%;
    border-radius: 12px;
}
  